{% extends 'base.html.twig' %}

{% block title %}WP Data Dashboard{% endblock %}

{% block body %}

<div class="container">
    <!-- Hero Section -->
    <div class="row align-items-center border shadow-lg overflow-hidden my-5">
        <div class="col-lg-7 p-3 p-lg-5">
            <h1 class="display-4 fw-bold lh-1">Unveil the Dynamics of WordPress Ecosystem</h1>
            <p class="lead">
                WP Data Dashboard is your centralized hub for exploring, analyzing, and visualizing data across the WordPress landscape. Venture into various modules and discover actionable insights from a wealth of data, curated from diverse sources within the WordPress ecosystem.
            </p>
            <a href="{{path('app_themes')}}" class="btn btn-primary mt-3">Explore Themes</a>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="img-fluid" src="/img/dashboard_hero.png" alt="An illustration of WP Data Dashboard">
        </div>
    </div>

    <!-- What is WordPress Section -->
    <div class="row my-5">
        <div class="col-12">
            <h2>What is WordPress?</h2>
            <p>
                WordPress is an open-source content management system (CMS) that empowers individuals and businesses to create, manage, and publish their content on the web. Known for its ease of use, extensibility, and a vast community of developers, WordPress is the platform behind millions of websites ranging from personal blogs to enterprise-grade eCommerce sites and digital publications.
            </p>
        </div>
    </div>
</div>

{% endblock %}
