<div class="site-footer footer-wrapper border-top mt-4">
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
			<div class="app-version text-muted flex-start">
				v{{appVersion}}
			</div>
			<div class="credit">
				A <a href="https://www.luehrsen-heinrich.de">Luehrsen // Heinrich</a> project - WordPress Agency Munich
			</div>
			<ul class="footer-nav nav">
				<li class="nav-item"><a href="https://www.luehrsen-heinrich.de/impressum/" class="nav-link">Impressum</a></li>
				<li class="nav-item"><a href="https://www.luehrsen-heinrich.de/datenschutz/" class="nav-link">Datenschutz</a></li>
			</ul>
		</footer>
	</div>
</div>
